/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

&:not(:hover) {
  width: min(var(--zen-overflowed-workspace-button-width), 25px);
  &::after {
    content: '';
    position: absolute;
    width: 4px;
    border-radius: 99px;
    height: 4px;
    background: color-mix(
      in srgb,
      var(--zen-primary-color) 10%,
      light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4)) 90%
    );
    left: 50%;
    top: 50%;
    filter: saturate(140%) brightness(110%) !important;
    transform: translate(-50%, -50%);
  }

  & .zen-workspace-icon {
    display: none;
  }
}
